<div class = "jumbotron">
    <div class="card mx-auto" style="width: 50rem; height: 20rem; max-width: 100%">
    <div class="card-body">
        <h5 class="card-title">Base Camp</h5>
        <h6 class="card-subtitle mb-2 text-muted">BaseCamp</h6>
        <p class="card-text">Welcome to the one stop place for making, editing and storing and sharing projects.
            <br> So what are you waiting for, Sign Up!!

        </p>
        <!-- <a href="#" class="btn btn-primary">Sign Up</a> -->
        <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %>
    </div>
    </div>
</div>