// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-table{
    overflow: auto;
}

.card-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    background-color: slateblue;
}


.attachments{
    // display: flex;
    // justify-content: space-around;
    // flex-flow: row wrap;
    // margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    display: flex; /* or inline-flex */
}

.project-container{
    max-width: 100%;
    display: flex;
    margin: 40px 20px; 
    height: 90vh;
    // width: map-remove($map: , $keys: );
    // background-color: yellowgreen;
    // padding-left: 10px 30px;
    // overflow: auto;
}  

.project{
    flex: 2;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
    font-family: sans-serif
}

.files{
    flex: 1;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: darksalmon;
}

.images{
        flex: 1;
        border: 1px;
        border-style: solid;
        border-color: rgba(0,0,0,0.2);
        overflow: auto;
        background-color: red;
        
    }
    
    .centered-button{
        // justify-content: center;
        // background-color: darkviolet;
        margin: auto;
    }
    
    
.c{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 85%;
        height: 80vh;
        max-width: 100%;
        margin: 70px auto;
        justify-content: space-around;
        overflow: auto;
        background-color: white;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
        align-items: center;
    }
    
.project-card{
    width: 300px;
    height: 230px;
    max-width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
    
}
.action{
    display: flex;
    justify-content: flex-end;
    .card-link {
        margin: 0 5px;
    }
    a{margin: 0 10px;}
    position: absolute;
    bottom: 5px;
    right: 5px;
    // background-color: crimson;
}


.file{
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: steelblue;
}

.edit{
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.mythreads{
    display: flex;
    flex-direction: column;
    // background: springgreen;
    justify-content: space-around;
}
.thread{
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.thread-project-container{
    max-width: 95%;
    display: flex;
    margin: 40px auto;
    // background-color: rgba(13, 76, 170, 0.514);
}

.thread-project{
    flex: 2;
    // order: 2;
    // background-color: cornsilk;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    height: 90vh;
    overflow: auto;
    border-radius: 10px;
    margin: 10px;
}
.thread-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    // background-color: rgba(13, 76, 170, 0.514);
    // background-color: red;
    height: 90vh;
    overflow: auto;
    border-radius: 10px;
}

.topic-thread{
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    // background-color: rgba(13, 76, 170, 0.514);
}

.heading{
    margin-top: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    // background-color: cornsilk;
}

.comments-head{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: rgb(65, 63, 65);
    // background-color: cornsilk;
    border-radius: 10px;
    margin-top: 10px;
}

.comment{
    // background-color: brown;
    flex: 1;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(37, 1, 48, 0.2);
    margin: 5px;
    // background-color: cornsilk;
    word-break: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;

}