// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-table{
    overflow: auto;
}

.card-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    background-color: slateblue;
}


.attachments{
    // display: flex;
    // justify-content: space-around;
    // flex-flow: row wrap;
    // margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    display: flex; /* or inline-flex */
}

.row{
    width: 100%;
}

.col-md-9{
    background: #fff;
}

.project-container{
    max-width: 100%;
    display: flex;
    margin: 40px 40px; 
    // height: 88vh;
    box-shadow: 20px 40px 17px rgba(0, 0, 0, 0.418);
    background-color: whitesmoke;
    border: 1px;
    border-radius: 10px;
    flex-direction: column;
    // border-radius: ;
    overflow: auto;
}  

.profile-card{
    margin: 190px auto;
    // padding: 80px;
    box-shadow: 20px 40px 17px rgba(0, 0, 0, 0.418);
    width: 60vw;
    height: 40vh;
    max-width: 100%;
    justify-content: center;
    // background-color: red;

}

.p-card{
    max-width: 100%;
    max-height: max-content;
    // background-color: cornsilk;
    // height: 70vh;
}

.image-head{
    margin-left: 20px;
    width: 40%;
    // box-shadow: 20px 40px 17px rgba(0, 0, 0, 0.418);
    
}

.project{
    flex: 2;
    padding: 10px;
    overflow: auto;
    height: 300px;
    // border-radius: 10px;
    margin: 10px;
    font-family: sans-serif;
    background-color: whitesmoke;
    box-shadow: 10px 30px 17px rgba(0, 0, 0, 0.418);
    
}

.side-view{
    flex: 1;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    // background-color: rgba(118, 201, 204, 0.856);
    box-shadow: 14px 4px 7px rgba(0, 0, 0, 0.418);
    margin: 10px 10px;
    // height: 77vh;
    // overflow: auto;
}

.user-images{
    // border: 1px;
    max-width: 100%;
    width: 92%;
    // border-style: solid;
    margin: 8px 6px 5px 6px;
    height: 30vh;
    // border-radius: 10px;
    overflow: auto;
    background-color: rgba(247, 243, 243, 0.603);
    display: flex;
    flex-direction: row;
    box-shadow: 10px 4px 7px rgba(0, 0, 0, 0.418);
    // flex-wrap: wrap;  
    // background-color: red;

}

.images{
    // flex: 1;
    height: 90px;
    padding: 2px;
    display: flex;
    // border-radius: 5px;
    margin: 2px;
    // background-color: yellowgreen;
    width: 150px;
    position: relative;
    a {
        img {
            position: absolute;
            top: 0;
            right: 12px;
        }


    }
    
}

.user-files{
    max-width: 100%;
    width: 97%;
    margin: 8px 6px 5px 6px;
    height: 7vh;
    box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.418);
    // background-color: tomato;
}

.file-button{
    padding: 10px;
    // background-color: yellow;
}

.user-create-thread{
    max-width: 100%;
    width: 97%;
    margin: 8px 6px 5px 6px;
    // height: 15vh;
    // overflow: auto;
    box-shadow: 10px 4px 7px rgba(0, 0, 0, 0.418);
    background-color: white;
    padding: 0px 10px;
    border-radius: 6px;
}

// .thread-section{
//     margin: 10px;
//     max-width: 100%;
// }

.user-threads{
    max-width: 100%;
    width: 97%;
    margin: 8px 6px 5px 6px;
    height: 11vh;
    overflow: auto;
    box-shadow: 7px 4px 7px rgba(0, 0, 0, 0.418);
}


.c{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // width: 55%;
        // height: 60vh;
        max-width: 100%;
        margin: 80px 60px;
        justify-content: space-around;
        overflow: auto;
        background-color: rgba(61, 83, 80, 0.445);
        position: relative;
        border-radius: 10px;
        box-shadow: 20px 11px 7px rgba(0, 0, 0, 0.418);
        // box-shadow: 0px 4px 7px rgba(0,0,0,0.3);
        align-items: center;
    }
    
.project-card{
    width: 300px;
    height: 230px;
    max-width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    position: relative;
    box-shadow: 10px 4px 7px rgba(0,0,0,0.3);
    background-color: whitesmoke;
    
}
.action{
    display: flex;
    justify-content: flex-end;
    .card-link {
        margin: 0 5px;
    }
    a{margin: 0 10px;}
    position: absolute;
    bottom: 5px;
    right: 5px;
    // background-color: crimson;
}


.file{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    width: 130px;
    word-break: break-word;
    font-size: 0.8rem;
    position: relative;
    img {
        width: 70px;
    }
    // background-color: steelblue;
    // background-color: yellow;
    a {
        img {
            position: absolute;
            top: 0;
            right: 0;
        }
        .download{
            top: 40px;
        }
    }
}

.edit{
    width: 500px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.mythreads{
    display: flex;
    flex-direction: column;
    // background: springgreen;
    justify-content: space-around;
}
.thread{
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.thread-project-container{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    margin: 40px 70px;
    // background-color: rgba(13, 76, 170, 0.514);
    // height: 95vh;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 20px 40px 17px rgba(0, 0, 0, 0.418);
}

.thread-project{
    flex: 2;
    // order: 2;
    // background-color: cornsilk;
    // background-color: yellowgreen;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgba(116, 116, 116, 0.2);
    // height: 90vh;
    // overflow: auto;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 12px 30px 77px rgba(0, 0, 0, 0.418);
    max-width: 100%;
}

.thread-project-body{
    overflow: auto;
    height: 77vh;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;
    border-color: rgba(116, 116, 116, 0.2);
}

.thread-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px;
    // border-style: solid;
    border-color: rgba(0,0,0,0.2);
    // background-color: rgba(13, 76, 170, 0.514);
    // background-color: red;
    // height: 90vh;
    overflow: auto;
    border-radius: 10px;
    margin: 10px 5px;
    max-width: 100%;
}

.topic-thread{
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(161, 182, 212, 0.514);
    // background-color: tomato;
    // margin-bottom: 10px;
    padding: 10px;
    max-width: 100%;
}

.heading{
    margin-top: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;
    // box-shadow: ;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    // overflow: auto;
    // text-overflow: clip;
 
}

.comments-head{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.comment-container{
    // background-color: brown;
    flex: 1;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(37, 1, 48, 0.2);
    margin: 5px;
    background-color: white;
    word-break: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    // background-color: olive;
    box-shadow: 13px 3px 7px rgba(0, 0, 0, 0.418);
    display: flex;

}

.comment{
    flex: 2;
}

.comments-buttons{
    border: 0 0 1px 0;
    border-style: ridge;

}

.post-form{
    margin-top: 10px;
}



.message-container{
    max-width: 100%;
    height: 60vh;
    background-color: rgb(173, 178, 206);
    // background-color: cornsilk;
    margin: 80px 220px;
    border: 1px;
    border-radius: 10px;
    padding-top: 120px;
    box-sizing: border-box;
    box-shadow: 23px 13px 17px rgba(0, 0, 0, 0.418);
}

.message-edit{
    // border: 1px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: rgba(215, 221, 223, 0.699);
    // height: 10vh;
    max-width: 100%;
    width: 600px;
    height: 350px;
    box-shadow: 23px 7px 17px rgba(0, 0, 0, 0.418);

}

.message-edit-form{
    margin: 0 40px;
    padding: 30px;
}


.add-users{
    max-width: 100%;
    width: 97%;
    margin: 8px 6px 5px 6px;
    height: 15vh;
    overflow: auto;
    box-shadow: 10px 4px 7px rgba(0, 0, 0, 0.418);
    padding: 10px;
}


.dash{
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    margin: 80px auto;
    align-items: center;
    // height: ;
}

.side-dashboard{
    // flex: 1;
    // background-color: brown;
}

.profile{
    // width: 20vw;
    // flex: 1;
}


@media only screen and (min-width: 720px){
    .project-container{
        flex-direction: row;
        .project{
            height: 80vh;
        }
    }
}